head,body
{
	width: 100%;
	margin:0;
	padding:0;
	-webkit-font-smoothing: antialiased;
}
.top
{
	/*max-width: 1400px;*/
	position: absolute;
	width: 100%;
	margin:0;
	padding:0;
	z-index: 10; 
}
.topHead
{
	position: relative;
	margin:auto;
	padding:0;
	width: 90%;
	margin-top: 0px;
	height: 100px;
}
.links
{
    height: 90%;
	width: 40%;
	margin:0;
	padding:0;
	text-align: left;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.nav-menu, .navIcons
{
	display: none;
}
.nav-links {
  font-family: 'Oswald', sans-serif;
  text-align: right;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  width: 350px;
  float: right;
}

.nav-links * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.nav-links a {
  padding: 0.2em 0.8em;
  margin: 0.2em 0;
  display: inline;
  color: white;
  position: relative;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  /*vertical-align: middle;*/
}

.nav-links a:before,
.nav-links a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}

.nav-links a:before {
  left: 0;
  top: 0;
  border-left: 3px solid #660000;
  border-top: 3px solid #660000;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}

.nav-links a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid #660000;
  border-bottom: 3px solid #660000;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.nav-links a.active{
  font-weight: bold;
}
.nav-links a:hover:before,
.nav-links a.active:before,
.nav-links a:hover:after,
.nav-links a.active:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}

body
{
	width: 100%;
	height: 100%;
	display: inline-block;
	background: url(Assets/Home_Large.jpg) no-repeat center right fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#homeBox
{
	height: 100%;
	width: 33.3%;
	margin: 0;
	padding: 0;
	position: relative;
	background-color: rgba(115,123,128,0.7);
}
#infoBox
{
	display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.logo
{
	width: 25%;
	position: relative;
	margin-left: 5%;
	min-width: 100px;
}
.logo img
{
	max-width:100%;
	max-height:100%;
}

h1, h3
{
	font-weight: 300;
	margin: 6px 0;
}
#dialog
{
	text-align: left;
	margin: 0 auto;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 1.75vw;
	list-style: none;
	width: 95%;
	/*max-width: 700px;*/
}
.emphasis
{
	color: #660000;
	font-weight: 700;
}
footer 
{
	display: none;
}
#map
{
	margin: 6% auto;
	margin-left: 5%;
	width: 100%;
	text-align: left;
	position: relative;
}
#social_map
{
	margin: 0 0;
}
#social_map img
{
	width: 35px;
	height: 35px;
	margin-right: 20px;
	background-color: #4d4d4d;
	border-radius: 50%;
}
#social_map img:hover
{
	transition: box-shadow .3s ease-in-out;
	box-shadow: 0 0 0 5px #660000;
	
}