head,body
{
	width: 100%;
	margin:0;
	padding:0;
	-webkit-font-smoothing: antialiased;
}
.top
{
	position: relative;
	width: 100%;
	margin:0 auto;
	padding:0;
	background: url(../Assets/Exp_Image.jpg) center no-repeat;
	background-size: cover;
	overflow: auto;
	min-height: 475px;
	box-shadow: 0 10px 20px rgba(84,102,112,0.19), 0 6px 6px rgba(84,102,112,0.23);
}
.topHead
{
	position: relative;
	margin:auto;
	padding:0;
	width: 98%;
	margin-top: 0px;
	height: 100px;
}

.logo
{
	width: 250px;
    display: block;
	position: absolute;
    margin-top: 10px;
    top: 0;
}
.logo img
{
	max-width:100%;
	max-height:100%;
}
.links {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  height: 100%;
  min-height: 175px;
  width: 100%;
  max-width: 150px;
  background-color: rgba(115,123,128,0.7);
  box-sizing: border-box;
  padding: 0px;
  color: white;
  margin-right: -150px;
  transition: margin 200ms ease-in-out;
}

.links.nav-open {
  margin-right: 0;
  margin-top: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: rgba(84,102,112,.9);
}

.nav-menu {
  position: absolute;
  left: -40px;
  top: 0px;
  width: 40px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  color: white;
}

.nav-menu:before {
  content: "\2630";
  font-weight: 600;
  font-size: 1.25em;
  line-height: 40px;
  transition: content 1s;
}

.links.nav-open .nav-menu:before {
  content: "\2613";
  font-size: 1.25em;
}
.nav-links {
  margin: 30% 0;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.nav-links * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.nav-links a {
  padding: 0.2em 0.9em;
  margin-bottom: 30px;
  display: inline-block;
  color: white;
  position: relative;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:before,
.nav-links a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}

.nav-links a:before {
  left: 0;
  top: 0;
  border-left: 3px solid #660000;
  border-top: 3px solid #660000;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}

.nav-links a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid #660000;
  border-bottom: 3px solid #660000;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.nav-links a.active{
  font-weight: bold;
}
.nav-links a.active:before,
.nav-links a.active:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}
#expText
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 70%;
	text-align: left;
	padding: 25px;
	font-size: 1.0rem;
	overflow: auto;
	background-color: rgba(102,0,0,0.7);
}
#quote
{
	display: block;
	text-align: left;
	font-size: .75em;
	padding-top: 0;
	padding-bottom: 0;
}
#quote h1
{
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: white;
	text-align: center;
}
.wrapper
{
	width:100%;
	max-width: 1450px;
	margin: 0% auto;
}

h1, h2, h3
{
	display: inline;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: #660000;
}
h1
{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
}

li 
{
	font-family: 'Raleway', sans-serif;
	line-height: 1.45;
	font-weight: 300;
	color: #4d4d4d;
	margin-left: 0%;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 20px;
	list-style: none;
}

#expTopper
{
	display: block;
	text-align: center;
	font-size: 3em;
}

#experience
{
	margin: 0% auto;
	width: 100%;
}

#section1, #section2
{
	position: relative;
	width: 100%;
	padding: 0%;
	text-align: center;
	margin: 4em 0;
}
#job1, #job2
{
	width: 95%;
	position: relative;
	margin: 2em auto;
	display: block;
	text-align: center;
}

#job1_image, #job2_image
{
	width: 95%;
	margin: 0 auto;
    position: relative;
	display: block;
	text-align:center;
}
#job1_image img, #job2_image img
{
	width: 100%;
	max-width: 600px;
}

footer 
{
	margin: 0 auto;
	margin-top: 50px;
    width: 100%;
	height: 175px;
    position: relative;
	background-color: #54666f;
    bottom: 0;
	-webkit-font-smoothing: antialiased;
}
#map
{
	margin: 0 auto;
	padding: 15px;
	width: 90%;
	text-align: center;
	display: block;
}
#site_map
{
	margin-top: 10px;
}
#site_map a
{
	margin: 0 10px;
	text-decoration: none;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 8px;
	line-height: 1.9em;
}
#site_map a:hover
{
	transition: color .3s;
	color: #c5c5c5;
}
#social_map
{
	margin: 0 auto;
}
#social_map img
{
	width: 35px;
	height: 35px;
	margin: 0 15px;
	background-color: #54666f;
	border-radius: 50%;
}
#social_map img:hover
{
	transition: box-shadow .3s ease-in-out;
	box-shadow: 0 0 0 5px #660000;
}
