head,body
{
	width: 100%;
	margin:0;
	padding:0;
}
.top
{
	/*max-width: 1400px;*/
	width: 100%;
	margin:0;
	padding:0;
}
.topHead
{
	position: relative;
	margin:auto;
	padding:0;
	width: 85%;
	margin-top: 0px;
	/*border: 2px;
	border-style: solid;
	border-color: #f2f2f2;
	border-top-color: transparent;*/
	height: 100px;
    /*border-bottom: solid;
    border-bottom-color: #4d4d4d;*/
}

.logo
{
	width: 200px;
    /*width: 180px;
	margin-left: 3%;
	background-color: #660000;*/
	position: absolute;
	bottom: 15px;
    /*bottom: -15px;*/
}
.logo img
{
	max-width:100%;
	max-height:100%;
}
.links
{
	/*height: 25px;*/
    height: 90%;
	width: 40%;
	margin:0;
	padding:0;
	/*background-color: #4d4d4d;
	background-image: url('Link_Bar.png');*/
	text-align: left;
	/*line-height: 80px;*/
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.nav-links {
  font-family: 'Titillium Web', sans-serif;
  text-align: right;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  width: 350px;
  float: right;
}

.nav-links * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.nav-links a {
  padding: 0.2em 0.8em;
  margin: 0.2em 0;
  display: inline;
  color: #4d4d4d;
  position: relative;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  /*vertical-align: middle;*/
}

.nav-links a:before,
.nav-links a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}

.nav-links a:before {
  left: 0;
  top: 0;
  border-left: 3px solid gray;
  border-top: 3px solid gray;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}

.nav-links a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid gray;
  border-bottom: 3px solid gray;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.nav-links a:hover,
.nav-links a.active{
  color: gray;
}

.nav-links a.active{
  font-weight: bold;
}
.nav-links a:hover:before,
.nav-links a.active:before,
.nav-links a:hover:after,
.nav-links a.active:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}
.nav-menu
{
    display: none;
}
/*
nav
{
	margin-right: 10%;
	margin-left: 5%;
}
.links a
{
	margin-left: 5%;
	font-family: 'Titillium Web', sans-serif;
	color: white;
	text-decoration: none;
	/*font-size: 18px;
	font-weight: 400;*
}
.links a:hover
{
	/*font-family: 'Titillium Web', sans-serif;
	font-weight: 700;*
	color: white;
}
.active
{
    width: 110%;
	padding-bottom: .25%;
    border-bottom: 3px solid white;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	padding-left: 5px;
	padding-right: 5px;
}*/
.navIcons
{
	text-align: right;
	position: absolute;
	right: 0;
    bottom: 0;
    width: 100%;
	height: 40px;
}

.navIcons a
{
    width: 40px;
}

.icons
{
    height: 25px;
    width: 25px;
    display:inline-block;
    background-color: #4d4d4d;
    margin-left: 8px;
}
.icons:hover
{
	background-color: gray;
}

.pageHeader
{
	margin-top: 10px;
	height: 80px;
	background-color: #660000;
	margin-right: 10%;
	margin-left: 10%;
	z-index: 1;
	position: relative;
}
/*
.Title
{
	font-size: 40px;
	display: inline-block;
	min-height: 50px;
	color: white;
	margin-left: 90px;
	margin-top: 5px;
	vertical-align: middle;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 200;
}

.pageFooter
{
	height: 30px;
	background-color: #660000;
	margin-right: 120px;
	margin-left: 120px;
	margin-top: 30px;
	position: relative;
	bottom: 0;
	#4d4d4d
}*/
body
{
	width: 100%;
	height: 100%;
}
/*
.pageHeader
{
	margin-top: 10px;
	height: 80px;
	background-color: #660000;
	margin-right: 10%;
	margin-left: 10%;
	z-index: 1;
	position: relative;
}*/
.wrapper
{
	width:100%;
	max-width: 1400px;
	margin: 5% auto;
}

h1, h2, h3
{
	display: inline;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	color: #660000;
}

li 
{
	/*indent after new line css*/
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
	font-family: 'Exo', sans-serif;
	color: #4d4d4d;
	margin-left: 7%;
	margin-top: 1.5%;
}
.bar
{
    width: 100%;
    height: 3px;
    background-color: black;
}
#experience
{
	margin: 0% auto;
	width: 75%;
}
#section1
{
	position: relative;
    height: 400px;
}
#job1
{
	width: 55%;
    position: absolute;
	margin-left: 5%;
	/*float: right;*/
	display: inline-block;
    top: 0;
    bottom: 0;
    right: 0;
}

#job1_image
{
	width: 38%;
    position: absolute;
	display: inline-block;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    max-width: 350px;
	/*float: left;*/
}
#job1_image img
{
	max-width:100%;
	max-height: 100%;
}
#section2
{
	margin: 0% auto;
    height: 400px;
    position: relative;
}
#job2
{
	width: 55%;
    position: absolute;
	display: inline-block;
	margin-right: 5%;
    top: 0;
    bottom: 0;
    left: 0;
	/*float: left;*/
}

#job2_image
{
	width: 38%;
	display: inline-block;
    position: absolute;
	vertical-align: middle;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    max-width: 350px;
	/*float: right;*/

}
#job2_image img
{
	max-width: 100%;
    max-height: 100%;
}

footer 
{
    margin: 100px auto;
    width: 85%;
    height: 115px;
    font-weight: 300;
    border-top: solid;
    border-color: #4d4d4d;
    position: relative;
    bottom: 0;
}
#footer_logo
{
    margin: 15px auto;
    width: 100px;
}