
head,body
{
	width: 100%;
	margin:0;
	padding:0;
	-webkit-font-smoothing: antialiased;
}
.top
{
	width: 100%;
	margin:0 auto;
	padding:0;
	background: url(../assets/Bio_Picture.jpg) center no-repeat;
	background-size: cover;
	overflow: auto;
	max-width: 1850px;
	height: 475px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.topHead
{
	position: relative;
	margin:auto;
	padding:0;
	width: 90%;
	margin-top: 0px;
	max-width: 1650px;
	height: 100px;
}

.logo
{
	width: 250px;
	position: absolute;
	margin-top: 10px;
	top: 0;
}
.logo img
{
	max-width:100%;
	max-height:100%;
}
.links
{
    height: 90%;
	width: 40%;
	margin:0;
	padding:0;
	text-align: left;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.nav-links {
  font-family: 'Oswald', sans-serif;
  text-align: right;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  width: 350px;
  float: right;
}

.nav-links * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.nav-links a {
  padding: 0.2em 0.8em;
  margin: 0.2em 0;
  display: inline;
  color: white;
  position: relative;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.nav-links a:before,
.nav-links a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}

.nav-links a:before {
  left: 0;
  top: 0;
  border-left: 3px solid #660000;
  border-top: 3px solid #660000;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}

.nav-links a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid #660000;
  border-bottom: 3px solid #660000;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.nav-links a:hover,
.nav-links a.active{
  color: white;
}

.nav-links a.active{
  font-weight: bold;
}
.nav-links a:hover:before,
.nav-links a.active:before,
.nav-links a:hover:after,
.nav-links a.active:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}
.nav-menu
{
    display: none;
}

.navIcons
{
	display: none;
}

.navIcons a
{
    width: 40px;
}

.icons
{
    height: 25px;
    width: 25px;
    display:inline-block;
    background-color: #4d4d4d;
    margin-left: 8px;
}
.icons:hover
{
	transition: background .4s;
	background-color: #c5c5c5;
}

.wrapper
{
	width:100%;
    margin: 0 auto;
}

#aboutText
{
	width: 40%;
	min-width: 450px;
	text-align: left;
	display: block;
	padding-right: 4%;
	padding-left: 25px;
	padding-top: 25px;
  	padding-bottom: 25px;
	font-size: 1.0rem;
	float: right;
	overflow: auto;
	background-color: rgba(102,0,0,0.7);
}
#blurb
{
	display: inline-block;
	text-align: left;
	font-size: .75em;
	padding-top: 0;
	padding-bottom: 0;
	max-width: 450px;
}
#blurb h1
{
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: white;
}

#section2
{
	margin: 2% auto;
	width: 100%;
}

#section2 h1
{
	text-align: center;
	font-size: 3.5em;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
.skills
{
	position: relative;
	display: block;
	margin: 100px auto;
	width: 95%;
	height: 233px;
	max-width: 700px;
}
.skills h2, #section2 h1
{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	color: #660000;
}
.skills p
{
	font-family: 'Raleway', sans-serif;
	line-height: 1.45;
	font-weight: 300;
	color: #4d4d4d;
}
.skillpic
{
	position: absolute;
	display: inline-block;
	width: 33.3%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background-color: #660000;
}
#devpic
{
	background: url(../assets/code_skill.jpg) center no-repeat;
	background-size: 100%;
}
#datapic
{
	background: url(../assets/data_skill.jpg) center no-repeat;
	background-size: 100%;
}
#SFpic
{
	background: url(../assets/SF_skill.jpg) center no-repeat;
	background-size: 100%;
}

.skillinfo
{
	position: absolute;;
	width: 60%;
	top: 10%;
	right: 0;
}
#datapic
	{right: 0;}
#datainfo
	{left: 0;}

footer 
{
	margin: 0 auto;
	margin-top: 50px;
    width: 100%;
	max-width: 1850px;
	height: 175px;
    position: relative;
	background-color: #737B80;
    bottom: 0;
	-webkit-font-smoothing: antialiased;
}
#map
{
	margin: 0 auto;
	padding: 15px;
	width: 90%;
	text-align: center;
	display: block;
}
#site_map
{
	margin-top: 10px;
}
#site_map a
{
	margin: 0 10px;
	text-decoration: none;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 8px;
	line-height: 1.9em;
}
#site_map a:hover
{
	transition: color .3s;
	color: #c5c5c5;
}
#social_map
{
	margin: 0 auto;
}
#social_map img
{
	width: 35px;
	height: 35px;
	margin: 0 15px;
	background-color: #4d4d4d;
	border-radius: 50%;
}
#social_map img:hover
{
	transition: box-shadow .3s ease-in-out;
	box-shadow: 0 0 0 5px #660000;
	
}