head,body
{
	width: 100%;
	margin:0;
	padding:0;
}
.top
{
	/*max-width: 1400px;*/
	width: 100%;
	margin:0;
	padding:0;
}
.topHead
{
	position: relative;
	margin:auto;
	padding:0;
	width: 85%;
	margin-top: 0px;
	/*border: 2px;
	border-style: solid;
	border-color: #f2f2f2;
	border-top-color: transparent;*/
	height: 100px;
    /*border-bottom: solid;
    border-bottom-color: #4d4d4d;*/
}

.logo
{
	width: 200px;
    /*width: 180px;
	margin-left: 3%;
	background-color: #660000;*/
	position: absolute;
	bottom: 15px;
    /*bottom: -15px;*/
}
.logo img
{
	max-width:100%;
	max-height:100%;
}
.links
{
	/*height: 25px;*/
    height: 90%;
	width: 40%;
	margin:0;
	padding:0;
	/*background-color: #4d4d4d;
	background-image: url('Link_Bar.png');*/
	text-align: left;
	/*line-height: 80px;*/
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.nav-links {
  font-family: 'Titillium Web', sans-serif;
  text-align: right;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  width: 350px;
  float: right;
}

.nav-links * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.nav-links a {
  padding: 0.2em 0.8em;
  margin: 0.2em 0;
  display: inline;
  color: #4d4d4d;
  position: relative;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  /*vertical-align: middle;*/
}

.nav-links a:before,
.nav-links a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}

.nav-links a:before {
  left: 0;
  top: 0;
  border-left: 3px solid gray;
  border-top: 3px solid gray;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}

.nav-links a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid gray;
  border-bottom: 3px solid gray;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.nav-links a:hover,
.nav-links a.active{
  color: gray;
}

.nav-links a.active{
  font-weight: bold;
}
.nav-links a:hover:before,
.nav-links a.active:before,
.nav-links a:hover:after,
.nav-links a.active:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}
.nav-menu
{
    display: none;
}
/*
nav
{
	margin-right: 10%;
	margin-left: 5%;
}
.links a
{
	margin-left: 5%;
	font-family: 'Titillium Web', sans-serif;
	color: white;
	text-decoration: none;
	/*font-size: 18px;
	font-weight: 400;*
}
.links a:hover
{
	/*font-family: 'Titillium Web', sans-serif;
	font-weight: 700;*
	color: white;
}
.active
{
    width: 110%;
	padding-bottom: .25%;
    border-bottom: 3px solid white;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	padding-left: 5px;
	padding-right: 5px;
}*/
.navIcons
{
	text-align: right;
	position: absolute;
	right: 0;
    bottom: 0;
    width: 100%;
	height: 40px;
}

.navIcons a
{
    width: 40px;
}

.icons
{
    height: 25px;
    width: 25px;
    display:inline-block;
    background-color: #4d4d4d;
    margin-left: 8px;
}
.icons:hover
{
	background-color: gray;
}

/*
.pageHeader
{
	margin-top: 10px;
	height: 80px;
	background-color: #660000;
	margin-right: 10%;
	margin-left: 10%;
	z-index: 1;
	position: relative;
}
 triangle method. not working with smaller/larger windows
.headTri
{
	position: relative;
	width: 0;
	height: 0;
	margin-right: 120px;
	margin-left: 120px;
	border-style: solid;
	border-width: 25px 1110px 0 0;
	border-color: #660000 transparent transparent transparent;
	
}*/
/*
.pageHeader:after
{
	background: inherit;
	bottom: 0;
	content: '';
	display: block;
	height: 50%;
	left: 0;
	position: absolute;
	right: 0;
	transform: skewY(-1.5deg);
	transform-origin: 100%;
	z-index: -1;	
}
*/
/*
.Title
{
	font-size: 40px;
	display: inline-block;
	min-height: 50px;
	color: white;
	margin-left: 90px;
	margin-top: 5px;
	vertical-align: middle;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 200;
}

.pageFooter
{
	height: 30px;
	background-color: #660000;
	margin-right: 120px;
	margin-left: 120px;
	margin-top: 30px;
	position: relative;
	bottom: 0;
	#4d4d4d
}*/

.wrapper
{
	width:100%;
	max-width: 1400px;
    margin: 5% auto;
}
.skillBar
{
	height: 3px;
	width: 100%;
	background-color: #4d4d4d;
}

#section1
{
	margin: 0% auto;
	width: 70%;
    background-color: #C5C5C5;
    /*border-radius: 3%;*/
}
#picture
{
	display: inline-block;
    /*border: 5px;
	border-style: solid;
	border-color: #4d4d4d;*/
	margin-left: 3%;
	margin-right: 5%;
	/*float: left;*/
	width: 28%;
	height: auto;
	border-radius: 10%;
}
#blurb
{
	display: inline-block;
    /*margin-top: -1%;*/
	width: 61.5%;
	/*max-width: 40%;
	font-size: .8em;*/
	font-size: 1.1vw;
    vertical-align: top;
	/*font-size: .98vmax;*/
	/*margin-right: 20%;
	float: right;*/
}
#blurb h1
{
	margin-top: 0;
	margin-bottom: 0;
	/*width: 50%;
	min-width: 415px;*/
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	color: #660000;
}
#section2
{
	margin: 2% auto;
	width: 80%;

}
#bio
{
	left: 0;
	margin: 1% auto;
	/*width: 60%;
	float:right;*/
    width: 75%;
}
#bio p
{
	/*font-family: 'Cabin', sans-serif;*/
	font-family: 'Exo', sans-serif;
	color: #4d4d4d;
	font-size: 1em;
	padding-top: 2%;
	/*font-size: 1.25vw;*/
}

#skills
{
	margin: 8% auto 0 auto;
	text-align: center;
	width: 75%;
    position: relative;
	/*display: inline-block;*/
}


#dev, #SF, #data
{
    display: inline-block;
    transition: box-shadow .5s;
    /*margin: auto;*/
}
#dev
{
    float: left;
}
#data
{
    float: right;
}


#dev img, #SF img, #data img
{
    width: 150px;
    border-radius: 50%;
}
.front
{
    display: inline;
    width: 150px;
}
.back
{
    display: inline;
    vertical-align: top;
    width: 150px;
    height: 200px;
}
.back h2
{
    display: none;
}
/*
.center
{
    display: inline-block;
    max-width: 300px;
    max-height: 300px;
    height:15vw;
    width:15vw;
    /*padding: 4%;
    margin: auto;
    position: relative;
}

.front
{
    position: absolute;
    transition: all 0.2s ease;
}
.front img
{
    width: 100%;
    z-index: 0;
}

.back
{
    display: inline-block;
    /*position: absolute;
    height: 100%;
    width: 100%;
    /*padding: 4%;
    background-color: #4d4d4d;
    opacity: 1;
    z-index: 10;
}
.center:hover .front
{
    opacity: 0;
}

.align
{
    display: inline-block;
    vertical-align: middle;
}

#SF .center
{
    background-image: url('SF_Skill.png');
    background-size: 100%;
}
#data .center
{
    background-image: url('data_Skill.png');
    background-size: 100%;
}*/
#dev h2, #SF h2, #data h2
{
	font-family: 'Exo', sans-serif;
	color: #4d4d4d;
	margin-bottom: 10%; 
	font-size: 20px;
    border-bottom: solid;
    border-color: #660000;
    text-align: center;
}


#dev p, #SF p, #data p
{
	font-family: 'Exo', sans-serif;
	/*color: #4d4d4d;*/
	color: #4d4d4d;
	/*margin: 5px auto ;
	font-size: 1vw;*/
	font-size: 14px;
    text-align: center;
}


footer 
{
    margin: 100px auto;
    width: 85%;
    height: 115px;
    font-weight: 300;
    border-top: solid;
    border-color: #4d4d4d;
    position: relative;
    bottom: 0;
}
#footer_logo
{
    margin: 15px auto;
    width: 100px;
}